<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>

    <a href="{{ route('users.show') }}">Utilisateur</a>
    <a href="{{ route('project.show') }}">Projet</a>
    <a href="{{ route('tasks.show') }}">Tache</a> 
    <a href="#">Teams</a>
</body>
</html>