<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
</head>
<body>
    <h1>Update Project</h1>

    <form action="{{ route('project.update', {id: project.id}) }}?_method=PUT" method="post">
        <label for="name">Nom</label>
        <input type="text" value="{{ project.name }}" name="name">

        <label for="description">Description</label>
        <input type="text" value="{{ project.description }}" name="description">

        <label for="deadLine">DeadLine</label>
        <input type="date" value="{{ project.deadLine }}" name="deadLine">

        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>