<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
</head>
<body>
    
    <h1>Projet</h1>

    <a href={{ route('project.create') }}>Créer Utilisateur</a>

    @if(flashMessages.has('success'))
        <div class="success">
            {{ flashMessages.get('success') }}
        </div>
    @endif
    
    <table class="mt-6">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Description</td>
                <td>DeadLine</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @each(projet in project)
                <tr>
                    <td>{{ projet.id }}</td>
                    <td>{{ projet.name }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.deadLine }}</td>
                    <td> 
                        <form action="{{ route('project.delete', {id: projet.id}) }}?_method=DELETE" method="post">
                            <button type="submit" class="button is-danger">
                                Delete
                            </button>
                        </form>
                        <form action="{{ route('project.update', {id: projet.id}) }}" method="post">
                            <button type="submit">
                                Edit
                            </button>
                        </form>
                    </td>
                </tr>
            @endeach
        </tbody>
    </table>

</body>
</html>