<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
</head>
<body>
    <h1>Update Tasks</h1>

    <form action="{{ route('tasks.update', {id: tasks.id}) }}?_method=PUT" method="post">
        <label for="name">Nom</label>
        <input type="text" value="{{ tasks.name }}" name="name">

        <label for="description">Description</label>
        <input type="text" value="{{ tasks.description }}" name="description">

        <label for="project_id">project_id</label>
        <input type="text" value="{{ tasks.project_id }}" name="project_id">

        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>